<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Las Mellizas</title>
</head>
<body>
  {% include "encabezado.html" %}
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #669b03">
    <div class="container">
    <a class="navbar-brand" href="#">
      <h2>Gestión de Despacho</h2>

    </a>
    <div class="collapse navbar-collapse " id="navbarresponsive"></div>
    <div class="navbar-nav ml-auto">
      <a class="nav-link" href="/ingresar">Ingresar </a>
      <a class="nav-link" href="/listar">Listar</a>
      <a class="nav-link" href="/modificar">Modificar</a>
      <a class="nav-link" href="/eliminar">Eliminar</a>
    </div>
    </nav>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h2>Eliminar Despacho</h2>
            
           
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</body>
<p>
  <br>
      <footer>
         {% include "footer.html" %}
      </footer>
  </html>